/* ----------- MAIN CSS for e-let portal ----------- */
/* theme.css */

/* -------------------------------------------- Fonts */
@font-face {
	font-family: 'Segoe_UI';

	src: url('segoe_ui_light.ttf') format('truetype');

	/* src: url('segoe_ui_light.eot');
	src: url('segoe_ui_light.eot?#iefix') format('embedded-opentype'),
		url('segoe_ui_light.woff') format('woff'),
		url('segoe_ui_light.ttf') format('truetype'),
		url('segoe_ui_light.svg#Segoe_UI') format('svg'); */
	font-weight: normal;
	font-style: normal;
}

/* -------------------------------------------- HTML Elements */
body {
    /*font-family: "Segoe_UI", Arial, Helvetica, Geneva, sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;*/
}
img {
    width: 100%;
}


/* loading spinner */
.spin-loading .load-text {
    position: relative;
    margin: 0 auto;
    width: 1em;
    top: -60px;
    left: -1em;
}
.spin-loading .load-spin{
    margin: 0 auto;
    width: 100px;height: 100px;
    animation: sweep 1s infinite linear;
    -webkit-animation: sweep 2s infinite linear;
    border-radius:75px;
    /*border-bottom:5px solid #fff;*/
    border-bottom:5px solid;
}
@keyframes sweep { 
    to { 
        transform: rotate(360deg); 
    } 
}
@-webkit-keyframes sweep { 
    to { 
        -webkit-transform: rotate(360deg); 
    } 
}
/* display entity styling */
/*.entity-property-value{
    background-color: #3b96d8;
}
.entity-description{
    background-color: #0f5da1;
}*/


/* Property */
.property {
    margin-bottom: 10px;
}

.property img {
    width: 18%;
    margin-right: 2%;
    float: left;
}
.property .view-actions {
    display: none;
}
.property .property-actions {
    width: 30%;
    float: left;
}
.property .property-actions ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.property .property-progress {
    display: table;
    width: 50%;
    float: left;
}
.property .property-progress .landlord,
.property .property-progress .tenant,
.property .property-progress .guarantor {
    display: table-cell;
}
/* manage property */
.manage-property {
    display:table;
    width:100%;
    table-layout:fixed;
}
.manage-property .property-item {
    display: table-cell;
    padding: 5px;
}
.manage-property .property-item h3 {
    font-size: 1em;
    margin: 0 0 10px 0;
}
.manage-property .property-item p {

}

/* Steps */
.steps {
    display:table;
    width:100%;
    table-layout:fixed;
    margin: 0;
    padding: 0;
}
.steps li {
    display: table-cell;
}


/* -------------------------------------------- Responsive media queries */

@media (max-width: 1200px) {



}

@media (max-width: 979px) {



}

@media (max-width: 767px) {
    /* N.B: bootstrap menu collapses at this width */

    .manage-property .property-item {
        display: block;
        border-bottom: 1px solid #eee;
        width: 100%;
        clear: left;
        padding: 10px 0;
    }

    .property-details {
        float: left;
        margin-bottom: 10px;
    }

    .property .property-progress {
        width: 80%;
    }

    .property .property-actions {
        width: 100%;
        clear: left;
    }

    .property .view-actions {
        clear: both;
        display: block;
        margin-top: 10px;
        width: 100%;
    }

}

@media (max-width: 320px) {

    .property img,
    .property .property-progress {
        width: 100%;
    }
     
}

/* -------------------------------------------- Retina images */
/* more info:    http://stackoverflow.com/questions/16154494/retina-displays-high-res-background-images */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),    
    only screen and (min-device-pixel-ratio: 1.5)
    and (min-device-width: 768px) and (max-device-width: 1024px) { 
    
    /* x2 retina image here */
    
    
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) { 

  /* Small screen, retina */
    
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 767px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 767px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 767px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 767px),
only screen and (                min-resolution: 192dpi) and (min-width: 767px),
only screen and (                min-resolution: 2dppx)  and (min-width: 767px) { 

  /* Medium screen, retina */
    
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1200px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1200px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1200px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1200px),
only screen and (                min-resolution: 192dpi) and (min-width: 1200px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1200px) { 

  /* Large screen, retina */

}








