/* ----------- MAIN CSS for e-let portal ----------- */
/* theme.css */

@font-face {
	/* need to license the font and generate other type formats */
	font-family: 'Segoe_UI';

	src: url('segoe_ui_light.ttf') format('truetype');

	/* src: url('segoe_ui_light.eot');
	src: url('segoe_ui_light.eot?#iefix') format('embedded-opentype'),
		url('segoe_ui_light.woff') format('woff'),
		url('segoe_ui_light.ttf') format('truetype'),
		url('segoe_ui_light.svg#Segoe_UI') format('svg'); */
	font-weight: normal;
	font-style: normal;
}
body {
    font-family: "Segoe_UI", Arial, Helvetica, Geneva, sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
/* loading spinner */
.spin-loading .load-text {
    position: relative;
    margin: 0 auto;
    width: 1em;
    top: -60px;
    left: -1em;
}
.spin-loading .load-spin{
    margin: 0 auto;
    width: 100px;height: 100px;
    animation: sweep 1s infinite linear;
    -webkit-animation: sweep 2s infinite linear;
    border-radius:75px;
    border-bottom:5px solid #fff;
}
@keyframes sweep { 
    to { 
        transform: rotate(360deg); 
    } 
}
@-webkit-keyframes sweep { 
    to { 
        -webkit-transform: rotate(360deg); 
    } 
}
/* display entity styling */
.entity-property-value{
    background-color: #3b96d8;
}
.entity-description{
    background-color: #0f5da1;
}
/* bootstrap overrides - classes that directly change bootstrap.css here */
body, 
.panel {
	background-color: #0072c5;
	color: #fff;
}
.panel-footer {
    background-color: rgba(255,255,255,0.2);
}
.panel-default>.panel-heading {
	background-color: #0f5da1;
	color: #fff;
}
a, a:hover {
	color: #fff;
	text-decoration: none;
}
h2 small,
h3 small{
    color: inherit;
    opacity: 0.8;
}
