<!-- <widget>
	<type>layout</type>
	<parameters>
		<url>portal-steps.html</url>
	</parameters>
	<attributes>
		<displayHeader>false</displayHeader>
		<css>portal-steps.css</css>
		<js>portal-steps.js</js>
	</attributes>
</widget> -->


<widget>
    <type>httpRequest</type>
    <parameters>
        <method>GET</method>
        <xsl>portal-steps</xsl>
        <url>{responsePath}</url>
    </parameters>
    <attributes>
        <css>portal-steps.css</css>
        <js>portal-steps.js</js>
    </attributes>
</widget>

