<widget>
    <type>httpRequestLayout</type>
    <parameters>
        <method>GET</method>
        <xsl>portal-steps</xsl>
        <url>widgets/xmldata/{path}.xml</url>
    </parameters>
    <attributes>
        <css>portal-steps.css</css>
        <js>portal-steps.js</js>
    </attributes>
</widget>

