<widget>
    <type>httpRequest</type>
    <parameters>
        <method>GET</method>
        <xsl>overviewList</xsl>
        <url>widgets/overview-list/response.xml</url>
    </parameters>
    <attributes>
        <js>overviewList.js</js>
        <!--css>progress.css</css-->
    </attributes>
</widget>