<widget>
	<type>httpRequestLayout</type>
	<parameters>
		<url>widgets/xmldata/property-summaries-response.xml</url>
        <method>GET</method>
        <xsl>home</xsl>
	</parameters>
	<attributes>
		<displayHeader>false</displayHeader>
		<css>portal-home.css</css>
		<js>portal-home.js</js>
	</attributes>
</widget>