.headings {
	margin-bottom: 40px;
}

.glyphicon.heading {
	font-size: 2em;
}

.main h4 {
	margin: 0;
}

.panel-collapse {
	display: block;
}
.showMore {
	display: none;
	font-weight: bold;
}
.widget.portal-home .widget.portal-panel{
	margin: 1em 0;
}
.widget.portal-home .widget.portal-panel .item-mtext-item{
	float: left;
}
.widget.portal-home .widget.portal-panel .item-progress-status,
.widget.portal-home .widget.portal-panel .item-progress-party{
	text-align: center;
}
.widget.portal-home .widget.portal-panel .item-progress-status{
	border:1px solid;
	padding: 0.5em 0;
	border-radius: 70px;
	font-size: 3em;
	width:2.5em;
}
.widget.portal-home .widget.portal-panel .item-progress-party{
	width:7.5em;
}
.widget.portal-home .widget.portal-panel .is-type-multiple-text{
	min-width:30em;
}
.widget.portal-home .widget.portal-panel .is-type-multiple-text .is-item-text{
	font-size: 2em;
}
.widget.portal-home .widget.portal-panel .item-mtext-item{
	margin: 0.5em 10em 0 0;
}
.widget.portal-home .widget.portal-panel .item-mtext-main{
	font-size: 1.4em;
}
/*.overview-list .row{
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px solid;
}
.overview-list p{
	margin:0;
}
.overview-list .entity h4{
	display: inline-block;
}
.overview-list .entity h4.entity-heading{
	max-width:45%;
}
.overview-list div.subentity{
	margin-top:0.5em;
	margin-left:2em;
}
.overview-list .subentity .glyphicon.glyphicon-tenancyInfo:before{
	content: "\e032";
}
.overview-list h4+h4{
	float: right;
}
.overview-list .product {
	text-align: center;
}*/

@media (max-width:768px) {
	.headings {
		display: none;
	}
	.showMore {
		display: block;
	}
	.panel-collapse {
		height: 0px;
		overflow: hidden;
	}
}