<widget>
	<type>httpRequestLayout</type>
	<parameters>
		<url>widgets/xmldata/manage-{uid}.xml</url>
		<method>GET</method>
		<xsl>manage</xsl>
	</parameters>
	<attributes>
		<js>manage.js</js>
	</attributes>
	<filters>
		<filter>
			<attributes>
				<name>valueInjector</name>
				<htmlTemplate>manage.html</htmlTemplate>
			</attributes>
		</filter>
	</filters>
</widget>
