/* Global layout styles */
/*body{
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333;
}
.group:after { 
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.subtitle{
	font-size: small;
	font-weight: normal;
}

div[name='landlord-portal'] .main-header{
	margin: 0 auto 1em 0;
	border-bottom: 2px solid;
}
*/
