div.widget[name='property-forms'] label {
  display: inline-block;
  font-size: 1.1em;
  padding-right: 1em;
}
div.widget[name='property-forms'] input[type="text"] {
  padding: 0.1em 0.25em 0 0.25em;
  border: thin solid #0090C0;
  font-size: 1.3em;
   width: 55%;
}
div.widget[name='property-forms'] input[type='date'] {
  border: thin solid #0090C0;
  width: 55%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
}
div.widget[name='property-forms'] input[type="button"]:hover {
  background-color: #82BE46;
}
div.widget[name='property-forms'] input[type="radio"] {
  margin: -0.25em 0 0 0;
  padding: 0.45em;
  background-color: #FFF;
  border: thin solid #0090C0;
  vertical-align: middle;
  -webkit-appearance: none;
}
div.widget[name='property-forms'] input[type="radio"]:checked {
  padding: 0.2em 0.4em 0.2em 0.4em;
  background-color: #0090C0; 
}
div.widget[name='property-forms'] input[type="radio"]:checked:after {
  content: '\2714';
  color: #FFF; background-color: #0090C0; /*blue*/
    font-size: 1.3em;   
}
div.widget[name='property-forms'] input[type="button"] {
  margin: 1em 1em 1em 0; padding: 0.2em 1em;
  border: none; border-radius: 0.25em;
  color: #FFF; background-color: #92CE56;
  font-size: 1em; 
  cursor: pointer;
  float: right;
}
div.widget[name='property-forms'] input[type="button"]:hover {
  background-color: #82BE46;
}
div.widget[name='property-forms'] option {
  color: #333;
}
div.widget[name='property-forms'] p {
  font-size: 1.2em;
}
div.widget[name='property-forms'] select {
  border: thin solid #0090C0;
  font-size: 1em;
}
div.widget[name='property-forms'] .lettings-form {
  background: #eee;
  width: 80%;
  margin: 2% auto;
  border-radius: 5px;
  padding: 20px;
}
div.widget[name='property-forms'] .lettings-form div.relatedField {
  margin-left: 15%;
  margin-bottom: 2%;
  clear: both;
}
div.widget[name='property-forms'] .field {
  width: 40%;
  float: left;
  padding: 5px;
}
div.widget[name='property-forms'] .relatedField div:nth-child(odd) {
  margin-right: 5%;
}
div.widget[name='property-forms'] .propertyActions {
  height: 40px;
} 