div.widget[name='portfolio'] h1{
	padding:0;
	margin:0 0 1.4em;
	font-size: 1.8em;

}
div.widget[name='portfolio'] div.properties{
	margin:0 auto;
	width:100%;
}
div.widget[name='portfolio'] div.addProperty{
	margin-left:93%;
	width:10em;
	font-size: 0.625em;
	height:6.5em;
	background: url('symbol_add.png') no-repeat center;
}
div.widget[name='portfolio'] div.property{
	background: url('building_home2.png') no-repeat center;
}
div.widget[name='portfolio'] div.selected {
	border: solid #ccc;
	border-radius: 5px;
	background: #ccc url('building_home2.png') no-repeat center;
}