div.portfolio h1{
	font-size: 1.8em;
	padding: 10px;
}

div.property {
	padding: 10px;
	color: #333;
	font-size: 10px;
	display: inline-block;
	height: 65px;
	margin-left: 100px;
	margin-bottom: 40px;
	background: url('building_home2.png') no-repeat center;
}
div.addProperty {
	padding: 10px;
	color: #333;
	font-size: 10px;
	display: inline-block;
	height: 65px;
	margin-left: 100px;
	margin-bottom: 40px;
	background: url('symbol_add.png') no-repeat center;
}
div.selected {
	border: solid #ccc;
	border-radius: 5px;
	background: #ccc url('building_home2.png') no-repeat center;
}